<%- include('header'); -%>
<h1>This is about page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo eaque ut hic quibusdam, quae cum reprehenderit cumque sed ipsum totam quidem ullam dolore at reiciendis fugiat, amet voluptatem dolores minus.</p>
<%- include('footer'); -%>